<footer class="main-footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-row">
        {%- if section.settings.footer_menu != blank -%}

          {% assign footerMenu = section.settings.footer_menu %}
          {% assign footerMenuLinks = linklists[footerMenu] %}
            <div class="footer-col">
              <h3>Menu</h3>
              {% if footerMenuLinks.size > 0 %}
              <div class="footer-menu">
                <ul>
                  {% for link in footerMenuLinks.links %}
                    <li>
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
            </div>
          {%- endif -%}

        <div class="footer-col">
          <h3>Products</h3>
          <div class="footer-menu">
            <ul>
              <li>
                <a href="#">Menu item</a>
              </li>
              <li>
                <a href="#">Menu item</a>
              </li>
            </ul>
          </div>
        </div>

        {%- if section.settings.footer_text != blank -%}
          <div class="footer-col">
            <div class="footer-content">
              <p>{{ section.settings.footer_text }}</p>
            </div>
          </div>
        {%- endif -%}

        <div class="footer-col">
          <h3>Social Media</h3>
          <ul class="footer-social-links">
            {%- for block in section.blocks -%}
              {% if block.type == 'social_link' %}

                <li>
                  <a href="{{ block.settings.social_media_url }}" target="_blank">
                    {% case block.settings.social_media_type %}

                      {% when 'facebook' %}

                        <i class="fab fa-facebook"></i>

                      {% when 'twitter' %}

                        <i class="fab fa-twitter"></i>

                      {% when 'instagram' %}

                        <i class="fab fa-instagram"></i>

                      {% when 'youtube' %}

                        <i class="fab fa-youtube"></i>

                    {% endcase %}
                    
                  </a>
                </li>
                
              {% endif %}
            {%- endfor -%}
          </ul>
        </div>

        {% if section.settings.footer_logo != blank %}
          <div class="footer-col">
            <div class="footer-logo">
              <a href="{{ shop.url }}">
                <img src="{{ section.settings.footer_logo | image_url: width: 259, height: 113  }}" width="auto" height="auto"/>
              </a>
            </div>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-copyright">
        <p><small class="copyright__content">&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}</small> <small class="copyright__content">{{ powered_by_link }}</small></p>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Main Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Menu"
    },
    {
      "type": "textarea",
      "id": "footer_text",
      "label": "Footer Text"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Footer Logo"
    }
  ],
  "blocks": [
    {
      "name": "Social Link",
      "type": "social_link",
      "settings": [
        {
          "type": "select",
          "id": "social_media_type",
          "label": "Social media type",
          "options": [
            {
              "value": "facebook",
              "label": "Facebook"
            },
            {
              "value": "twitter",
              "label": "Twitter"
            },
            {
              "value": "instagram",
              "label": "Instagram"
            },
            {
              "value": "youtube",
              "label": "Youtube"
            }
          ]
        },
        {
          "type": "text",
          "id": "social_media_url",
          "label": "URL"
        }
      ]
    },
    {
      "name": "Social Title",
      "type": "social_title",
      "settings": [
        {
          "type": "text",
          "id": "title_text",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Footer",
      "blocks": [
        {
          "type": "social_link"
        },
        {
          "type": "social_title"
        }
      ]
    }
  ]
}
{% endschema %}