{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

<section class="get-in-touch">
    <div class="container">

        {% if section.settings.git_title != blank %}
          <h2>{{ section.settings.git_title }}</h2>
        {% endif %}

        <div class="contact git-form">
            {% form 'contact' %}
                {{ form.errors | default_errors }}

                {% for block in section.blocks %}

                  {% if block.type == 'field' %}

                    <div class="field git-field">

  

                      {% assign fieldType = block.settings.field_type %}

                      {% if block.settings.field_label != blank %}

                        {% assign fieldId = '' %}

                        {% if block.settings.field_id != blank %}
                          {% assign fieldId = block.settings.field_id | replace: ' ', '_' | downcase%}
                        {% endif %}

                        <label for="{{ fieldId  }}" class="form__label field__label">{{ block.settings.field_label }}</label>
                      {% endif %}

                      {% case fieldType %}
                        {% when 'text' %}

                          <input type="text" id="{{ fieldId }}" name="contact[{{ fieldId }}]" class="field__input" placeholder={{ block.settings.field_label }}>

                        {% when 'textarea' %}

                          <textarea id={{ fieldId }} name="contact[{{ fieldId }}]" class="field__input" placeholder={{ block.settings.field_label }} style="height: 130px;"></textarea>

                        {% when 'email' %}

                          <input type="email" id={{ fieldId }} name="contact[{{ fieldId }}]" class="field__input" placeholder={{ block.settings.field_label }}>

                        {% when 'phone' %}

                          <input type="tel" id={{ fieldId }} name="contact[{{ fieldId }}]" class="field__input" placeholder={{ block.settings.field_label }}>

                        {% when 'date' %}

                          <input type="date" id={{ fieldId }} name="contact[{{ fieldId }}]" class="field__input"/>

                      {% endcase %}

                      {% if block.settings.field_label != blank %}

                        <label for="{{ fieldId  }}" class="form__label field__label">{{ block.settings.field_label }}</label>
                      {% endif %}

                    </div>
                  {% endif %}

                {% endfor %}  
              
              
                <div class="submit contact__button">
                  <button type="submit" class="button">
                    Create
                  </button>
                </div>
                
              {% endform %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Get in Touch",
    "settings": [
      {
        "type": "text",
        "id": "git_title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "field",
        "name": "Field",
        "settings": [
          {
            "type": "text",
            "id": "field_label",
            "label": "Field Label"
          },
          {
            "type": "text",
            "id": "field_id",
            "label": "Field ID",
            "info": "Field ID must be unique."
          },
          {
            "type": "select",
            "id": "field_type",
            "label": "Field Type",
            "options": [
              {
                "label": "Text",
                "value": "text"
              },
              {
                "label": "Textarea",
                "value": "textarea"
              },
              {
                "label": "Email",
                "value": "email"
              },
              {
                "label": "Phone",
                "value": "phone"
              },
              {
                "label": "Date",
                "value": "date"
              }
            ] 
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Get in Touch",
        "settings": {
          "git_title": "Get in touch"
        },
        "blocks": [
          {
            "type": "field"
          }
        ]
      }
    ]
}
{% endschema %}