<section class="get-in-touch">
    <div class="container">

        {% if section.settings.git_title != blank %}
          <h2>{{ section.settings.git_title }}</h2>
        {% endif %}

        <div class="git-form">
            {% form 'contact' %}
                {{ form.errors | default_errors }}

                {% for block in section.blocks %}

                  {% if block.type == 'field' %}

                    <div class="git-field">

                      {% if block.settings.field_label != blank %}

                        {% assign fieldId = '' %}

                        {% if block.settings.field_id != blank %}
                          {% assign fieldId = block.settings.field_id | replace: ' ', '_' | downcase%}
                        {% endif %}

                        <label for="{{ fieldId  }}">{{ block.settings.field_label }}</label>
                      {% endif %}

                      {% assign fieldType = block.settings.field_type %}

                      {% case fieldType %}
                        {% when 'text' %}

                          <input type="text" id="{{ fieldId }}" name="contact[{{ fieldId }}]">

                        {% when 'textarea' %}

                          <textarea id={{ fieldId }} name="contact[{{ fieldId }}]"></textarea>

                        {% when 'email' %}

                          <input type="email" id={{ fieldId }} name="contact[{{ fieldId }}]">

                        {% when 'phone' %}

                          <input type="tel" id={{ fieldId }} name="contact[{{ fieldId }}]">

                      {% endcase %}

                    </div>
                  {% endif %}

                {% endfor %}  
              
              
                <div class="submit">
                  <input type="submit" value="Create" />
                </div>
                
              {% endform %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Get in Touch",
    "settings": [
      {
        "type": "text",
        "id": "git_title",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "type": "field",
        "name": "Field",
        "settings": [
          {
            "type": "text",
            "id": "field_label",
            "label": "Field Label"
          },
          {
            "type": "text",
            "id": "field_id",
            "label": "Field ID",
            "info": "Field ID must be unique."
          },
          {
            "type": "select",
            "id": "field_type",
            "label": "Field Type",
            "options": [
              {
                "label": "Text",
                "value": "text"
              },
              {
                "label": "Textarea",
                "value": "textarea"
              },
              {
                "label": "Email",
                "value": "email"
              },
              {
                "label": "Phone",
                "value": "phone"
              }
            ] 
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Get in Touch",
        "settings": {
          "git_title": "Get in touch"
        },
        "blocks": [
          {
            "type": "field"
          }
        ]
      }
    ]
}
{% endschema %}